allow rild proc_net:file { write };
allow rild self:capability { dac_read_search chown };
allow rild unlabeled:dir search;
allow rild unlabeled:file { read getattr open };
allow rild default_prop:property_service set;

